<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <title>login title</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/login}" method="post">

        <label>Username
            <input type="text" name="username">
        </label>

        <br>
        <br>

        <label>Password
            <input type="password" name="password">
        </label>

        <br>
        <br>

        <button type="submit">Sign in</button>
        <br>
        <a href="/registration" th:href="@{/registration}">Register now</a>
    </form>
</div>
</body>
</html>