<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <title>registration title</title>

    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<div layout:fragment="content">

    <form th:action="@{/registration}" method="post" th:object="${user}">

        <span class="error" th:if="${usernameError}" th:text="${usernameError}"></span>

        <input type="text" name="username">
        <span class="error" th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}"></span>
        <br><br>

        <input type="password" name="password">
        <span class="error" th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}"></span>
        <br><br>

        <input type="password" name="confirmPassword">
        <span class="error" th:if="${passwordError}" th:text="${passwordError}"></span>
        <br><br>

    </form>
</div>

</body>
</html>