* {
    box-sizing: border-box;
    list-style-type: none;
}


.messages .message.left .text_wrapper {
    margin-left: 20px;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message .text_wrapper {
    display: inline-block;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}


.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}

.bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}

.c-navbar{
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
    background: #FF8F8F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.c-btn{
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    color: rgb(122, 122, 122);
    font-weight: 600;
    cursor: pointer;
}
.c-btn:hover{
    color: black;
}

.message-field{
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(251, 250, 250);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 1px rgb(151, 148, 148);
}

.message_template{
    margin-bottom: 100px;
}

.c-btn-message{
    background-color: #FF8F8F;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    color: white;
    font-weight: 600;
    border: 1px rgb(212, 165, 165) solid;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px rgb(245, 226, 226);
}
.c-btn-message:active{
    box-shadow: 0 1px rgb(218, 217, 217);
    transform: translateY(4px);
}

.c-btn-connection{
    background-color: rgb(245, 241, 241);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    color: rgb(71, 69, 69);
    border: 1px rgb(204, 200, 200) solid;
    outline: none;
    cursor: pointer;
}
.message_input{
    width: 90%;
    height: 70px;
    border-radius: 30px;
    border: 1px solid rgb(226, 224, 224);
    padding: 30px;
    box-shadow: 0 2px 10px rgba(158, 153, 153, 0.25);
    outline: none;
}

.name{
    color: black;
    font-weight: bold;
}
.msg{
    font-size: 18px;
}

.date{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #5c5b5b;
}