<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:src="@{/js/ws.js}"></script>
</head>
<body>
<h1>Simple chat</h1>
<div>

    <ul class="messages" id="messages">
        <!--        <li th:each="msg : ${messages}" th:utext="${msg.getMessage()}"></li>-->
    </ul>

    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input id="message_input_value" class="message_input" placeholder="Type your message here..."/>
        </div>

        <!--        <button onclick="connect()">Connect to chat</button>-->
        <button onclick="sendMessage()" class="text">Send</button>
        <button onclick="disconnect()">Disconnect from chat</button>
    </div>
</div>

<div id="message_template" class="message_template">
    <li class="message">
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>

</body>
</html>